@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  background-color: #3E4651;
  font-family: 'Dosis';
  font-size: 10px; }

a {
  color: #00B5B5;
  text-decoration: none;
  text-transform: capitalize; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #F1654C;
  font-family: 'Kaushan Script', cursive;
  margin: 20px 0;
  width: 100%; }

h1 {
  font-size: 60px;
  font-size: 6rem; }

h2 {
  font-size: 48px;
  font-size: 4.8rem; }

h3 {
  font-size: 36px;
  font-size: 3.6rem; }

h4 {
  font-size: 32px;
  font-size: 3.2rem; }

h5 {
  font-size: 28px;
  font-size: 2.8rem; }

h6 {
  font-size: 24px;
  font-size: 2.4rem; }

button {
  background-color: #00B5B5;
  border: none;
  box-sizing: border-box;
  color: #3E4651;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 10px; }

.content-wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 95%; }

header {
  background: url(../img/header-banner.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 50px;
  -webkit-box-shadow: 0px 30px 100px 0px black;
  -moz-box-shadow: 0px 30px 100px 0px black;
  box-shadow: 0px 30px 100px 20px black; }
  header .social-container {
    display: none; }

.header-title {
  float: none;
  line-height: 90px;
  text-align: center;
  width: 100%; }

.show-menu-check[type=checkbox] {
  display: none; }

.show-menu {
  display: none; }
  @media screen and (max-width: 1000px) {
    .show-menu {
      color: #00B5B5;
      display: inline-block;
      float: right;
      font-size: 18px;
      height: 50px;
      margin: 20px 2% 0 0;
      text-align: center;
      width: 100px; } }

.main-logo {
  display: none; }
  @media screen and (min-width: 1024px) {
    .main-logo {
      display: inline-block;
      border: none;
      float: left;
      height: 50px;
      margin: 0 10px;
      padding-top: 10px;
      width: 70px; }
      .main-logo img {
        height: 100%;
        width: 100%; } }

.mobile-logo {
  display: block;
  float: left;
  height: 40px;
  margin: 10px 2%;
  width: 70px; }
  @media screen and (min-width: 1024px) {
    .mobile-logo {
      display: none; } }
  .mobile-logo img {
    height: 100%;
    width: 100%; }

nav {
  display: block;
  float: none;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
  transition: height 1s linear;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    nav {
      height: 248px;
      margin: 0;
      overflow: hidden;
      padding: 0; } }

nav .social-container {
  display: block;
  padding: 15px 0;
  width: 100%; }
  nav .social-container .social-icon {
    float: left;
    list-style: none;
    text-align: center;
    width: 50%; }

.social-img {
  height: 30px;
  width: 30px; }

.nav-item {
  border-bottom: 1px solid #d4d4d4;
  float: none;
  list-style: none;
  padding: 15px 0;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .nav-item {
      border: none;
      display: table-cell;
      float: left;
      height: 50px;
      margin: 0 10px;
      padding-top: 16px;
      vertical-align: middle;
      width: 100px; }
      .nav-item img {
        height: auto;
        width: 100%; } }
  .nav-item a {
    font-size: 24px;
    font-size: 2.4rem; }
  .nav-item:hover {
    background-color: #d4d4d4; }

.show-menu-check:checked + nav {
  height: 248px; }

.post-wrapper {
  box-sizing: border-box;
  margin: 50px 0;
  overflow: hidden;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .post-wrapper {
      float: left;
      width: 70%; } }

.post-item {
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  margin: 50px 0;
  padding: 15px 2%;
  width: 100%; }
  @media screen and (min-width: 520px) {
    .post-item {
      float: left;
      margin: 10px 1%;
      width: 48%; } }
  @media screen and (min-width: 1024px) {
    .post-item {
      margin: 10px 1%;
      width: 30%; } }
  .post-item img {
    border: 1px solid #000;
    height: auto;
    margin: 10px 0;
    width: 100%; }
  .post-item h3 {
    text-align: left;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .post-item h3 {
        font-size: 22px;
        font-size: 2.2rem; } }
  .post-item p {
    color: #f2f2f2;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 200;
    margin: 20px 0;
    width: 100%; }
    @media screen and (min-width: 520px) {
      .post-item p {
        font-size: 18px;
        font-size: 1.8rem; } }
    @media screen and (min-width: 520px) {
      .post-item p {
        font-size: 14px;
        font-size: 1.4rem; } }

.post-date {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-size: 1.2rem; }

.paginator {
  clear: both;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 15px 0;
  overflow: hidden;
  text-align: center;
  width: 100%; }
  .paginator li {
    color: #00B5B5;
    float: left;
    list-style: none;
    margin-right: 1%;
    width: 30%; }

aside {
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  margin: 60px 0;
  padding: 15px 2%; }
  @media screen and (min-width: 1024px) {
    aside {
      float: right;
      width: 30%; } }
  aside a {
    font-size: 18px;
    font-size: 1.8rem; }

.sidebar-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  padding: 10px 0;
  width: 100%; }
  .sidebar-item a {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%; }

.side-date {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%; }

footer {
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  width: 100%; }
  footer .copy-right {
    color: #00B5B5;
    float: left;
    font-size: 24px;
    font-size: 2.4rem;
    margin-top: 5%; }
  footer .social-container {
    float: right;
    margin-top: 15px;
    overflow: hidden;
    width: 30%; }

.social-icon {
  float: left;
  height: auto;
  list-style: none;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  width: 50%; }
  .social-icon img {
    height: auto;
    width: 50%; }

/*# sourceMappingURL=styles.css.map */
