footer{
	background-color: rgba(0,0,0,0.3);
	box-sizing: border-box;
	overflow: hidden;
	padding: 10px;
	width: 100%;

	.copy-right{
		color: $link-color;
		float: left;
		@include font-size(24);
		margin-top: 5%;
	}

	.social-container{
		float: right;
		margin-top: 15px;
		overflow: hidden;
		width: 30%;
	}
}

.social-icon{
	float: left;
	height: auto;
	list-style: none;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 50%;

	img{
		height: auto;
		width: 50%;
	}
}